# Extrai tweets

In [1]:
!pip install tweepy datetime

Requirement already satisfied: tweepy in /home/neylson/anaconda3/lib/python3.8/site-packages (3.9.0)
Collecting datetime
  Using cached DateTime-4.3-py2.py3-none-any.whl (60 kB)
Requirement already satisfied: six>=1.10.0 in /home/neylson/anaconda3/lib/python3.8/site-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /home/neylson/anaconda3/lib/python3.8/site-packages (from tweepy) (2.24.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /home/neylson/anaconda3/lib/python3.8/site-packages (from tweepy) (1.3.0)
Requirement already satisfied: pytz in /home/neylson/anaconda3/lib/python3.8/site-packages (from datetime) (2020.1)
Requirement already satisfied: zope.interface in /home/neylson/anaconda3/lib/python3.8/site-packages (from datetime) (4.7.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/neylson/anaconda3/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /home/neylson/anaconda3/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/neylson/anaconda3/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/neylson/anaconda3/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /home/neylson/anaconda3/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)
Requirement already satisfied: oauthlib>=3.0.0 in /home/neylson/anaconda3/lib/python3.8/site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)
Requirement already satisfied: setuptools in /home/neylson/anaconda3/lib/python3.8/site-packages (from zope.interface->datetime) (49.2.0.post20200714)
Installing collected packages: datetime
Successfully installed datetime-4.3

## Play!

In [1]:
!python get_tweets.py

^C
Traceback (most recent call last):
  File "get_tweets.py", line 36, in <module>
    stream.filter(track=["Trump"])
  File "/home/neylson/anaconda3/lib/python3.8/site-packages/tweepy/streaming.py", line 474, in filter
    self._start(is_async)
  File "/home/neylson/anaconda3/lib/python3.8/site-packages/tweepy/streaming.py", line 389, in _start
    self._run()
  File "/home/neylson/anaconda3/lib/python3.8/site-packages/tweepy/streaming.py", line 289, in _run
    self._read_loop(resp)
  File "/home/neylson/anaconda3/lib/python3.8/site-packages/tweepy/streaming.py", line 339, in _read_loop
    line = buf.read_line()
  File "/home/neylson/anaconda3/lib/python3.8/site-packages/tweepy/streaming.py", line 200, in read_line
    self._buffer += self._stream.read(self._chunk_size)
  File "/home/neylson/anaconda3/lib/python3.8/site-packages/urllib3/response.py", line 519, in read
    data = self._fp.read(amt) if not fp_closed else b""
  File "/home/neylson/anaconda3/lib/python3.8/http/client.py", line 454, in read
    n = self.readinto(b)
  File "/home/neylson/anaconda3/lib/python3.8/http/client.py", line 488, in readinto
    return self._readinto_chunked(b)
  File "/home/neylson/anaconda3/lib/python3.8/http/client.py", line 583, in _readinto_chunked
    chunk_left = self._get_chunk_left()
  File "/home/neylson/anaconda3/lib/python3.8/http/client.py", line 551, in _get_chunk_left
    chunk_left = self._read_next_chunk_size()
  File "/home/neylson/anaconda3/lib/python3.8/http/client.py", line 511, in _read_next_chunk_size
    line = self.fp.readline(_MAXLINE + 1)
  File "/home/neylson/anaconda3/lib/python3.8/socket.py", line 669, in readinto
    return self._sock.recv_into(b)
  File "/home/neylson/anaconda3/lib/python3.8/ssl.py", line 1241, in recv_into
    return self.read(nbytes, buffer)
  File "/home/neylson/anaconda3/lib/python3.8/ssl.py", line 1099, in read
    return self._sslobj.read(len, buffer)
KeyboardInterrupt

# Entendendo a estrutura do JSON

In [1]:
import json

In [2]:
# Abrir o arquivo de tweets e ler as linhas
with open('collected_tweets_2020-11-12-21-20-27.txt', 'r') as file:
    tweets = file.readlines()

In [9]:
# Fazendo o parse do tweet para um formato json e exporta arquivo
with open('tweet.json', 'w') as f:
    json.dump(
        json.loads( json.loads( tweets[0] ) ), 
        f
    )

In [ ]:
json.loads(
    json.loads( tweets[0] )
)

In [12]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
parsed_tweets = [json.loads( json.loads(i) ) for i in tweets]

In [4]:
# Quantidade de tweets coletados
len(parsed_tweets)

4997

# Acessando as chaves do JSON (dicion√°rio)

In [5]:
primeirotweet = parsed_tweets[0]

In [35]:
list(primeirotweet.items())[1]

('id', 1327043598156783618)

In [36]:
# Acessa o texto do tweet
# Chave de primeiro n√≠vel (root)
primeirotweet["text"]

'RT @WheezyNC: @JohnCornyn Today‚Äôs patriots are the election officials and volunteers who did their jobs in the face of vitriolic threats/li‚Ä¶'

In [45]:
# Acessar a chave user
primeirotweet['user']

{'id': 36548978,
 'id_str': '36548978',
 'name': "It's all over but the waiting...üì§üì•",
 'screen_name': 'Teresa_Denemy',
 'location': 'Southwestern Michigan',
 'url': None,
 'description': "learning to use my voice, cause it was always...polite people never talk politics and don't talk politics around Grandpa...",
 'translator_type': 'none',
 'protected': False,
 'verified': False,
 'followers_count': 803,
 'friends_count': 635,
 'listed_count': 1,
 'favourites_count': 258686,
 'statuses_count': 85123,
 'created_at': 'Thu Apr 30 01:19:05 +0000 2009',
 'utc_offset': None,
 'time_zone': None,
 'geo_enabled': False,
 'lang': None,
 'contributors_enabled': False,
 'is_translator': False,
 'profile_background_color': '9AE4E8',
 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme16/bg.gif',
 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme16/bg.gif',
 'profile_background_tile': False,
 'profile_link_color': '0084B4',
 'profile_sidebar_border_color': 'BDDCAD',
 'profile_sidebar_fill_color': 'DDFFCC',
 'profile_text_color': '333333',
 'profile_use_background_image': True,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/426903307/TDenemy_ProfilePhoto_normal.gif',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/426903307/TDenemy_ProfilePhoto_normal.gif',
 'default_profile': False,
 'default_profile_image': False,
 'following': None,
 'follow_request_sent': None,
 'notifications': None}

In [46]:
# Acessando o screen_name do user
primeirotweet['user']['screen_name']

'Teresa_Denemy'

In [48]:
# Vamos pegar a informa√ß√£o do tweet original
primeirotweet['retweeted_status']['created_at']

'Thu Nov 12 20:46:50 +0000 2020'

In [55]:
# Pegando o name do primeiro usu√°rio mencionado no tweet original
primeirotweet['retweeted_status']['entities']['user_mentions'][0]['name']

'Senator John Cornyn'

# Transformar os tweets em uma estrutura relacional analis√°vel

In [6]:
import pandas as pd

In [ ]:
teste = pd.DataFrame(primeirotweet)
teste
# N√ÉO FUNCIONA!!!

In [16]:
df_tratado = pd.DataFrame(primeirotweet).reset_index(drop=True).iloc[:1]
df_tratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,quote_count,reply_count,retweet_count,favorite_count,entities,favorited,retweeted,filter_level,lang,timestamp_ms
0,Fri Nov 13 00:20:23 +0000 2020,1327043598156783618,1327043598156783618,RT @WheezyNC: @JohnCornyn Today‚Äôs patriots are...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1605226823735

In [17]:
df_tratado.columns

Index(['created_at', 'id', 'id_str', 'text', 'source', 'truncated',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'retweeted_status', 'is_quote_status', 'quote_count',
       'reply_count', 'retweet_count', 'favorite_count', 'entities',
       'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'],
      dtype='object')

In [18]:
df_tratado.drop(columns=['quote_count', 'reply_count', 'retweet_count', 'favorite_count',
                         'favorited', 'retweeted', 'user', 'entities', 'retweeted_status',
                        ], inplace=True)

In [19]:
df_tratado.columns

Index(['created_at', 'id', 'id_str', 'text', 'source', 'truncated',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'geo', 'coordinates', 'place',
       'contributors', 'is_quote_status', 'filter_level', 'lang',
       'timestamp_ms'],
      dtype='object')

In [21]:
primeirotweet['user']

{'id': 36548978,
 'id_str': '36548978',
 'name': "It's all over but the waiting...üì§üì•",
 'screen_name': 'Teresa_Denemy',
 'location': 'Southwestern Michigan',
 'url': None,
 'description': "learning to use my voice, cause it was always...polite people never talk politics and don't talk politics around Grandpa...",
 'translator_type': 'none',
 'protected': False,
 'verified': False,
 'followers_count': 803,
 'friends_count': 635,
 'listed_count': 1,
 'favourites_count': 258686,
 'statuses_count': 85123,
 'created_at': 'Thu Apr 30 01:19:05 +0000 2009',
 'utc_offset': None,
 'time_zone': None,
 'geo_enabled': False,
 'lang': None,
 'contributors_enabled': False,
 'is_translator': False,
 'profile_background_color': '9AE4E8',
 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme16/bg.gif',
 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme16/bg.gif',
 'profile_background_tile': False,
 'profile_link_color': '0084B4',
 'profile_sidebar_border_color': 'BDDCAD',
 'profile_sidebar_fill_color': 'DDFFCC',
 'profile_text_color': '333333',
 'profile_use_background_image': True,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/426903307/TDenemy_ProfilePhoto_normal.gif',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/426903307/TDenemy_ProfilePhoto_normal.gif',
 'default_profile': False,
 'default_profile_image': False,
 'following': None,
 'follow_request_sent': None,
 'notifications': None}

In [23]:
df_tratado['user_id'] = primeirotweet['user']['id']
df_tratado['user_id_str'] = primeirotweet['user']['id_str']
df_tratado['user_screen_name'] = primeirotweet['user']['screen_name']
df_tratado['user_location'] = primeirotweet['user']['location']
df_tratado['user_description'] = primeirotweet['user']['description']
df_tratado['user_protected'] = primeirotweet['user']['protected']
df_tratado['user_verified'] = primeirotweet['user']['verified']
df_tratado['user_followers_count'] = primeirotweet['user']['followers_count']
df_tratado['user_friends_count'] = primeirotweet['user']['friends_count']
df_tratado['user_created_at'] = primeirotweet['user']['created_at']

In [24]:
df_tratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_id,user_id_str,user_screen_name,user_location,user_description,user_protected,user_verified,user_followers_count,user_friends_count,user_created_at
0,Fri Nov 13 00:20:23 +0000 2020,1327043598156783618,1327043598156783618,RT @WheezyNC: @JohnCornyn Today‚Äôs patriots are...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,36548978,36548978,Teresa_Denemy,Southwestern Michigan,"learning to use my voice, cause it was always....",False,False,803,635,Thu Apr 30 01:19:05 +0000 2009

In [25]:
# Entidades
primeirotweet['entities']

{'hashtags': [],
 'urls': [],
 'user_mentions': [{'screen_name': 'WheezyNC',
   'name': 'Wheezy',
   'id': 1045436971257139200,
   'id_str': '1045436971257139200',
   'indices': [3, 12]},
  {'screen_name': 'JohnCornyn',
   'name': 'Senator John Cornyn',
   'id': 13218102,
   'id_str': '13218102',
   'indices': [14, 25]}],
 'symbols': []}

In [27]:
user_mentions = []

for i in range(len(primeirotweet['entities']['user_mentions'])):
    dicionariobase = primeirotweet['entities']['user_mentions'][i].copy()
    dicionariobase.pop('indices', None)
    df = pd.DataFrame(dicionariobase, index=[0])
    df = df.rename(columns={
        'screen_name': 'entities_screen_name',
        'name' : 'entities_name',
        'id' : 'entities_id',
        'id_str' : 'entities_id_str'
    })
    user_mentions.append(df)

In [30]:
user_mentions[1]

  entities_screen_name        entities_name  entities_id entities_id_str
0           JohnCornyn  Senator John Cornyn     13218102        13218102

In [32]:
dfs = []
for i in user_mentions:
    dfs.append(
        pd.concat([df_tratado.copy(), i], axis=1)
    )

In [36]:
pd.concat(dfs, ignore_index=True)

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_description,user_protected,user_verified,user_followers_count,user_friends_count,user_created_at,entities_screen_name,entities_name,entities_id,entities_id_str
0,Fri Nov 13 00:20:23 +0000 2020,1327043598156783618,1327043598156783618,RT @WheezyNC: @JohnCornyn Today‚Äôs patriots are...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,"learning to use my voice, cause it was always....",False,False,803,635,Thu Apr 30 01:19:05 +0000 2009,WheezyNC,Wheezy,1045436971257139200,1045436971257139200
1,Fri Nov 13 00:20:23 +0000 2020,1327043598156783618,1327043598156783618,RT @WheezyNC: @JohnCornyn Today‚Äôs patriots are...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,"learning to use my voice, cause it was always....",False,False,803,635,Thu Apr 30 01:19:05 +0000 2009,JohnCornyn,Senator John Cornyn,13218102,13218102

Vamos criar uma fun√ß√£o que faz todo o tratamento do tweet e converte para um DataFrame pandas.

In [45]:
def tweet_para_df(tweet):
    try:
        df_tratado = pd.DataFrame(tweet).reset_index(drop=True).iloc[:1]
        df_tratado.drop(columns=['quote_count', 'reply_count', 'retweet_count', 'favorite_count',
                             'favorited', 'retweeted', 'user', 'entities', 'retweeted_status',
                            ], inplace=True)
        df_tratado['user_id'] = tweet['user']['id']
        df_tratado['user_id_str'] = tweet['user']['id_str']
        df_tratado['user_screen_name'] = tweet['user']['screen_name']
        df_tratado['user_location'] = tweet['user']['location']
        df_tratado['user_description'] = tweet['user']['description']
        df_tratado['user_protected'] = tweet['user']['protected']
        df_tratado['user_verified'] = tweet['user']['verified']
        df_tratado['user_followers_count'] = tweet['user']['followers_count']
        df_tratado['user_friends_count'] = tweet['user']['friends_count']
        df_tratado['user_created_at'] = tweet['user']['created_at']

        user_mentions = []

        for i in range(len(tweet['entities']['user_mentions'])):
            dicionariobase = tweet['entities']['user_mentions'][i].copy()
            dicionariobase.pop('indices', None)
            df = pd.DataFrame(dicionariobase, index=[0])
            df = df.rename(columns={
                'screen_name': 'entities_screen_name',
                'name' : 'entities_name',
                'id' : 'entities_id',
                'id_str' : 'entities_id_str'
            })
            user_mentions.append(df)

        dfs = []
        for i in user_mentions:
            dfs.append(
                pd.concat([df_tratado.copy(), i], axis=1)
            )
        df_final = pd.concat(dfs, ignore_index=True)
    except:
        return None
    return df_final

In [47]:
tweet_para_df(parsed_tweets[18])

In [48]:
%%time
# Vamos iterar e transformar todos os tweets
parseados = [tweet_para_df(tweet) for tweet in parsed_tweets]

CPU times: user 1min 3s, sys: 175 ms, total: 1min 3s
Wall time: 1min 3s

In [52]:
# Eliminar as posi√ß√µes vazias da lista
parseados = [i for i in parseados if i is not None]

In [53]:
len(parseados)

3445

In [54]:
tratado = pd.concat(parseados, ignore_index=True)

In [56]:
tratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,entities_screen_name,entities_name,entities_id,entities_id_str,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,possibly_sensitive,extended_entities
0,Fri Nov 13 00:20:23 +0000 2020,1327043598156783618,1327043598156783618,RT @WheezyNC: @JohnCornyn Today‚Äôs patriots are...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,WheezyNC,Wheezy,1045436971257139200,1045436971257139200,NaN,NaN,NaN,NaN,NaN,NaN
1,Fri Nov 13 00:20:23 +0000 2020,1327043598156783618,1327043598156783618,RT @WheezyNC: @JohnCornyn Today‚Äôs patriots are...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,JohnCornyn,Senator John Cornyn,13218102,13218102,NaN,NaN,NaN,NaN,NaN,NaN
2,Fri Nov 13 00:20:23 +0000 2020,1327043598211313664,1327043598211313664,RT @brithume: Sen. Lankford (R-OK) says he sup...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,brithume,Brit Hume,112047805,112047805,NaN,NaN,NaN,NaN,NaN,NaN
3,Fri Nov 13 00:20:23 +0000 2020,1327043598215426050,1327043598215426050,RT @AriBerman: There have been more Trump aide...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,AriBerman,Ari Berman,15952856,15952856,NaN,NaN,NaN,NaN,NaN,NaN
4,Fri Nov 13 00:20:23 +0000 2020,1327043598060175361,1327043598060175361,RT @greggutfeld: this brilliant point underlie...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,greggutfeld,GregGutfeld,28628850,28628850,1.325458e+18,1325458383978291202,1325458383978291202,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4056,Fri Nov 13 00:22:01 +0000 2020,1327044006321278976,1327044006321278976,RT @JennaEllisEsq: üö®Joining @LouDobbs shortly ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,JennaEllisEsq,Jenna Ellis,778763106289758208,778763106289758208,NaN,NaN,NaN,NaN,NaN,NaN
4057,Fri Nov 13 00:22:01 +0000 2020,1327044006321278976,1327044006321278976,RT @JennaEllisEsq: üö®Joining @LouDobbs shortly ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,LouDobbs,Lou Dobbs,26487169,26487169,NaN,NaN,NaN,NaN,NaN,NaN
4058,Fri Nov 13 00:22:01 +0000 2020,1327044006568734722,1327044006568734722,RT @robertomalaver: En Bolivia descolgaron mi ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,robertomalaver,robertomalaver,142904992,142904992,NaN,NaN,NaN,NaN,NaN,NaN
4059,Fri Nov 13 00:22:00 +0000 2020,1327044006023467009,1327044006023467009,RT @thekillakay_: He lost it when she said som...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,thekillakay_,KYLE üñïüèΩ,1921421754,1921421754,1.326764e+18,1326763722212315136,1326763722212315136,NaN,NaN,NaN
4060,Fri Nov 13 00:22:01 +0000 2020,1327044006665129990,1327044006665129990,"RT @KlasfeldReports: On cross-examination, a w...","<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,KlasfeldReports,Adam Klasfeld,60506242,60506242,NaN,NaN,NaN,NaN,NaN,NaN

# Ingest√£o de dados do twitter no SQL Server

In [ ]:
!pip install sqlalchemy

In [57]:
import pyodbc
import sqlalchemy

In [58]:
engine = sqlalchemy.create_engine(
    "mssql+pyodbc://SA:Ney198789@127.0.0.1/twitter?driver=ODBC+Driver+17+for+SQL+Server"
)

In [60]:
# Ingest√£o
tratado.to_sql("tweets", con=engine, index=False, if_exists='append')